<%= form_with(model: barrel, local: true) do |form| %>
  <% if barrel.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(barrel.errors.count, "error") %> prohibited this barrel from being saved:</h2>

      <ul>
      <% barrel.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :caliber %>
    <%= form.text_field :caliber %>
  </div>

  <div class="field">
    <%= form.label :barrel_type %>
    <%= form.text_field :barrel_type %>
  </div>

  <div class="field">
    <%= form.label :length %>
    <%= form.text_field :length %>
  </div>

  <div class="field">
    <%= form.label :twist %>
    <%= form.text_field :twist %>
  </div>

  <div class="field">
    <%= form.label :contour %>
    <%= form.text_field :contour %>
  </div>

  <div class="field">
    <%= form.label :rifling %>
    <%= form.text_field :rifling %>
  </div>

  <div class="field">
    <%= form.label :firearm_id %>
    <%= form.text_field :firearm_id %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
